# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Projeto_Torrentz_Filmes/manifest.mf
/Projeto_Torrentz_Filmes/build.xml
/Projeto_Torrentz_Filmes/dist/
/Projeto_Torrentz_Filmes/build/
/Projeto_Torrentz_Filmes/nbproject/
/Projeto_Torrentz_Filmes/src/br/com/torrentz/util/Conexao.java
/Projeto_Torrentz_Filmes/src/br/com/torrentz/util/ConexaoAm.java
/Projeto_Torrentz_Filmes/src/br/com/torrentz/util/postgresql-42.2.16.jar

/ExercicioLista/nbproject/private/
